# Compilação e Artefatos (Maven / Gradle)
target/
build/
.gradle/
*.class
*.jar
*.war

# Exceção para o Maven Wrapper (caso use `mvnw`)
!.mvn/wrapper/maven-wrapper.jar

# IDEs (IntelliJ IDEA, Eclipse, VS Code)
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project/

# Logs e arquivos temporários
*.log
.DS_Store
Thumbs.db